 <!-- <app-favourite [isFavourite]="this.Isfavourite" [imageSrc]="this.imageSrc" (change)="this.onFavChange($event)" ></app-favourite> -->
<!-- <app-panel>
  <div id="heading" panel-heading class="1heading">this is heading</div>
  <div id="body" panel-body class="1body">this is body</div>
</app-panel> -->

<!-- <input type="text" appValidateEmail appInputFormat [format]="'uppercase'"> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-signup-form></app-signup-form> -->

<app-form-arrays-example></app-form-arrays-example>


<!-- <app-posts></app-posts> -->
<!-- <app-nav-bar></app-nav-bar> -->
<!-- <router-outlet></router-outlet> -->
