<div class="panel panel-default">
  <div class="panel-heading">
    <ng-content select="[panel-heading]"></ng-content>
  </div>
  <div class="panel-body"><ng-content select="[panel-body]"></ng-content></div>
</div>
<div>
  <h1>Courses</h1>
  <div
    *ngIf="this.panelContent.length > 0; then: hasCourses; else: noCourses"
  ></div>
</div>

<ng-template #hasCourses>have courses</ng-template>
<ng-template #noCourses>no courses</ng-template>
<button class="btn btn-primary" (click)="loadCourse()">LoadCourse</button>
<button (click)="onCourseAdd()" class="btn btn-primary">Add</button>
<ul>
  <li *ngFor="let course of courses; index as i; even as isEven;trackBy:trackByCourse">{{ isEven }} {{ i }} {{ course.name }} <button class="btn btn-primary" (click)="onRemove(course)">remove</button></li>
</ul>
